<aside id="marcador">
  <table>
    <tr><td>{{xH}}</td> <td>{{oH}}</td> <td>Vieja</td></tr>
    <tr><td>{{ptosXH}}</td> <td>{{ptosOH}}</td> <td>{{ptosVH}}</td></tr>
  </table>
  <button (click)="abrirPopUp()" id="editBnt"><i class="fas fa-edit"></i></button>
  <button (click)="desactivarIa()" id="verPtos"><i class="fas fa-sort-up"></i></button>
  <button (click)="activarIa()" id="verPtos"><i class="fas fa-sort-down"></i></button>
  <button (click)="activarIaImposible()" id="verPtos"><i class="fas fa-sort-down"></i></button>
</aside><!-- #marcador -->