<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>¿Listo para jugar?</h1>
  <h2>¡Vence a tus amigos en el juego de la vieja!</h2>
  <h1 *ngIf="finDelJuego" id="mensajeGanador">¡{{mensajeGanador}} <img src="{{imgGanador}}">!</h1>
</header>

<aside id="marcador">
  <table>
    <tr><td>{{x}}</td> <td>{{o}}</td> <td>Vieja</td></tr>
    <tr><td>{{ptosX}}</td> <td>{{ptosO}}</td> <td>{{ptosV}}</td></tr>
  </table>
  <button (click)="abrirPopUp()" id="editBnt"><i class="fas fa-edit"></i></button>
  <button (click)="desactivarIa()" id="verPtos"><i class="fas fa-sort-up"></i></button>
  <button (click)="activarIa()" id="verPtos"><i class="fas fa-sort-down"></i></button>
</aside><!-- #marcador -->

<section id="tablero">
  <div class="contenedor">
    <table>
      <tr>
        <td (click)="ponerMarca(0)"><img src="{{urls[0]}}" *ngIf="urls[0].length > 0"></td>
        <td (click)="ponerMarca(1)"><img src="{{urls[1]}}" *ngIf="urls[1].length > 0"></td>
        <td (click)="ponerMarca(2)"><img src="{{urls[2]}}" *ngIf="urls[2].length > 0"></td>
      </tr>

      <tr id="central">
        <td (click)="ponerMarca(3)"><img src="{{urls[3]}}" *ngIf="urls[3].length > 0"></td>
        <td (click)="ponerMarca(4)"><img src="{{urls[4]}}" *ngIf="urls[4].length > 0"></td>
        <td (click)="ponerMarca(5)"><img src="{{urls[5]}}" *ngIf="urls[5].length > 0"></td>
      </tr>

      <tr>
        <td (click)="ponerMarca(6)"><img src="{{urls[6]}}" *ngIf="urls[6].length > 0"></td>
        <td (click)="ponerMarca(7)"><img src="{{urls[7]}}" *ngIf="urls[7].length > 0"></td>
        <td (click)="ponerMarca(8)"><img src="{{urls[8]}}" *ngIf="urls[8].length > 0"></td>
      </tr>
    </table>
  </div><!-- .contenedor -->

  <button (click)="seRindio()" *ngIf="finDelJuego" class="btn btn1">¿Ya te rendiste?</button>
  <button (click)="reiniciar()" *ngIf="finDelJuego" class="btn btn2">¡Quiero la revancha!</button>
</section><!-- #tablero -->

<section *ngIf="estadoPopUp" id="contPopUp">
  <div class="overlay">
    <div class="popUp">
      <a href="#" (click)="cerrarPopUp()" id="cerrarPopUp" class="cerrarPopUp"><i class="fas fa-times"></i></a>
      <h3>Elige tu nombre</h3>
      <h4>y dale un toque personal</h4>

      <div class="contenedorInputs">
        <div class="imput_area">
          Nombre del jugador 1 (x) <input [(ngModel)]="x" class="input_text">
        </div>
        <div class="imput_area">
          Nombre del jugador 2 (o) <input [(ngModel)]="o" class="input_text">
        </div>
      </div>

      <button (click)="cerrarPopUp()" class="btn btn2 btnPopUp">Listo</button>
    </div><!-- .popUp -->
  </div><!-- .overlay -->
</section><!-- #contPopUp -->

<footer>
  
</footer>
