/* Globales */

* {
	padding: 0;
	margin: 0;
    box-sizing:border-box;
    text-align: center;
}

/* Header */

header h1{
    margin-top: 30px;
    font-size: 3em;
}

header h2{
    margin-bottom: 100px;
}

#mensajeGanador{
    margin: 0;
    position: relative;
    bottom: 60px;
}

#mensajeGanador img{
    position: relative;
    top: 20px;
}

/* Table */

#tablero table{
    display: inline-block;
    border-collapse: collapse;
}

#tablero table td{
    width: 100px;
    height: 100px;
}

#tablero table td:first-child{
    border-right: 4px solid black;
}

#tablero table td:last-child{
    border-left: 4px solid black;
}

#central{
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

img{
    width: 70px;
    height: 70px;
}

/* botones */

.btn{
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat", sans-serif;
    cursor: pointer;
    margin: 60px 20px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1{
    color: #eb2f06;
    border: 1px solid #eb2f06;
}

.btn2{
    color: #3498db;
    border: 1px solid #3498db;
}

.btn1:hover, .btn2:hover{
    color: #fff;
}

.btn2::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #eb2f06;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn2::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn1:hover::before, .btn2:hover::before{
    height: 180%;
}

/* Pop Up para editar los nombres */

.overlay{
    font-family: "monserrat", sans-serif;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUp{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 20px;
    width: 35%;
}

.popUp .cerrarPopUp{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: 0.3s;
}

.popUp .cerrarPopUp:hover {
    color: #000;
}

.popUp h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    /*opacity: 0;*/
}

.popUp h4{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    /*opacity: 0;*/
}

.contenedorInputs{
    width: 100%;
    height: 52px;
    margin-bottom: 20px;
    line-height: 52px;
    font-size: 18px;
}

.btnPopUp{
    border-radius: 3px;
}

/* Animaciones del pop up */
